html
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
  body
    div.container
      h1= message
      form(name="file-upload" method="post" action="upload" enctype="multipart/form-data")
          div.input.form-state
              span.label File
              input(type="file" name="file")
          div.action.form-state
              input(type="submit", value="add").btn.btn-primary