html
	head
		script(src='https://cdn.socket.io/socket.io-1.4.5.js')
		script(src='http://code.jquery.com/jquery-1.11.1.js')
		script(src = 'client.js')
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
	body
		h1 Result
		a(href='/') back
		div#result-message
		